body {
    font-family: 'Times New Roman', Times, serif;
}

#container {
    border: 10px solid white;
    margin: auto 10%;
    background: white;

}

header {
    background:#A8F0F0;
}

nav {
    float: left;
    border: 4px solid #009097;
    background: #99e0e0;
    border-radius: 15px;
    padding: 10px;
    margin: 0px;
    width: 140px;

}

footer {
    margin: auto 10%;
    padding: 10px 0px;
}

h1, h2 {
    font-family: "Century Gothic";
    color: #009097;
}

h1 {
    text-align: right;
}

h2 {
    font-size: 14pt;
    text-align: right;
}

nav h1 {
    text-align: left;
}

.clearfix {
    overflow: auto;
}

.post {
    border: 4px solid #C2E9E9;
    border-radius: 15px;
    background: #E8FBFB;
    padding: 5px;
    margin-top: 10px;
    margin-left: 180px;
    overflow: auto;
   
}


.post h2 {
    border: 0px solid orange;
    text-align: justify;
}

.post p {
    text-align: justify;
}

.post img {
    float: right;
}

span.date {
    border-bottom: 2px dashed blue;
}

a:link, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
